.container
{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
}
label{
    font-family: sans-serif;
    font-weight: bold;
}
.input
{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    height: 35px;
    border-radius: 5px;

}
#images {
    display: flex;
    gap: 20px;              /* space between images */
    flex-wrap: wrap;        /* allow wrapping to next line */
    justify-content: start; /* or center if you want them centered */
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
}

button
{
    
    background-color: rgb(29, 158, 250);
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
}
button:hover{
    background-color:rgb(19, 134, 216) ;
}