body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(255, 255, 255)
}
h1{
    color: rgb(148, 148, 241);
    text-align: center;
}
.card
{
    border: 2px solid black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
label
{
    font-weight: bold;
}
#temperature
{
   margin-left: 70px;
   margin-right: -70px;
    height: 30px;
    width: 50%;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    font-size: 2em;
    justify-content: center;

}
#ctf
{
    margin-left: 70px;
}

#submit
{
    margin-left: 100px;
    height: 40px;
    width: 70px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
#submit:hover{
     background-color: rgb(239, 92, 92);
}